.App {
  text-align: center;
}

.profile {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.profile h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.profile p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.profile ul {
  list-style-type: none;
  padding: 0;
}

.profile li {
  font-size: 1em;
  margin: 5px 0;
}
